[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kondachiranjeevi
[access "refs/for/refs/*"]
	read = group user/kondachiranjeevi
	push = group user/kondachiranjeevi
	label-Code-Review = -2..+2 group user/kondachiranjeevi
	label-Verified = -1..+1 group user/kondachiranjeevi
	rebase = group user/kondachiranjeevi
	removeReviewer = group user/kondachiranjeevi
	submit = group user/kondachiranjeevi
[access "refs/heads/*"]
	read = group user/kondachiranjeevi
	create = group user/kondachiranjeevi
	push = +force group user/kondachiranjeevi
	pushMerge = group user/kondachiranjeevi
[access "refs/tags/*"]
	push = group user/kondachiranjeevi
	push = +force group user/kondachiranjeevi
